<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" />
      <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
        <small class="error" *ngIf="registerForm.get('username')?.hasError('required')">Username is required.</small>
        <small class="error" *ngIf="registerForm.get('username')?.hasError('maxlength')">Max 100 characters
          allowed.</small>
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <small class="error" *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</small>
        <small class="error" *ngIf="registerForm.get('email')?.hasError('email')">Enter a valid email.</small>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        <small class="error" *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</small>
        <small class="error" *ngIf="registerForm.get('password')?.hasError('minlength')">Minimum 8 characters.</small>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <div *ngIf="message" [ngClass]="{ 'success-message': isSuccess, 'error-message': !isSuccess }">
    {{ message }}
  </div>
</div>